.Elem
  display: flex
  justify-content: center
  width: 100%
  padding: 10px 0
  border-bottom: 1px solid rgba(255, 255, 255, 0.7)

  &:last-child
    border-bottom: none

.Elem__Name
  margin-right: 10px

.Elem__Name, .Elem__Age
    color: #ffffff
